body {

 
    background: url(https://cdn.pixabay.com/photo/2020/03/15/04/27/sky-4932427_960_720.jpg);
    background-repeat: no-repeat;
}

div{
    background-color: blue;
    border-color: orange;
    border-width: 4px;
    border-style: double;
}

p {
    color: yellow;
}

span {
    background: red;
    color: black;
}

